@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
html,
body {
  width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

/* Swiper sometimes creates tiny horizontal overflow */
.swiper,
.swiper-wrapper,
.swiper-slide {
  max-width: 100%;
}

.swiper {
  overflow: hidden;
}

